@import "tailwindcss";
@import "@heroui/styles";
@plugin "daisyui";


.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
.border {
    border-color:#00D2C4;
}
.clt{
    color:#00D2C4;
}
.btn{
    padding: 6px 16px;
    border-radius: 12px;
}